<a href="https://colab.research.google.com/github/sawsanzaky/Cairo_Cairo-governorate_NLP_TASK/blob/main/Generate_dataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use API to Generate Dataset**

In [192]:
import requests
import pandas as pd
import json
from pandas import json_normalize

In [204]:
import numpy as np
import pandas as pd 

cities= pd.read_fwf("Cairo.txt",names=["Address"])
#cities.values

**Cairo_districts**


بولاق,الازبكية,باب الشعرية,الجمالية,الظاهر,الوايلى,حدائق القبة,الشرابية,شبرا,روض الفرج,الساحل,الزاوية الحمراء,الاميرية,الزيتون,المطرية,عين شمس,المرج,أول السلام,ثان السلام,النزهة,مصر الجديدة,أول مدينة نصر,ثان مدينة نصر,التجمع الخامس,أول القاهره الجديده,التجمع الاول,ثان القاهره الجديده,القطامية,ثالث القاهره الجديده,الشروق,مدينه بدر,التبين,حلوان,المعصرة,خمسة عشر مايو,طره,المعادى,البساتين,دار السلام,مصر القديمة,السيدة زينب,الخليفة,المقطم,منشأة ناصر,الدرب الاحمر,الموسكى,عابدين,قصر النيل,الزمالك

In [ ]:
#base_site="https://places.ls.hereapi.com/places/v1/autosuggest?at=30.04,-31.2&q=cairo&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
#position': [30.04427, 31.23525

In [289]:
base_site22=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[التجمع الخامس]&languages=ar-US"
base_site23=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[أول القاهره الجديده]&languages=ar-US"
base_site24=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[التجمع الاول]&languages=ar-US"
base_site25=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[ثان القاهره الجديده]&languages=ar-US"
base_site26=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[القطامية]&languages=ar-US"
base_site27=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[ثالث القاهره الجديده]&languages=ar-US"
base_site28=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الشروق,مدينه بدر,التبين]&languages=ar-US"
base_site29=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[حلوان,المعصرة ]&languages=ar-US"
base_site30=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الساحل]&languages=ar-US"
base_site31=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الزاوية الحمراء]&languages=ar-US"
base_site32=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[طره,المعادى]&languages=ar-US"
base_site33=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[البساتين,دار السلام]&languages=ar-US"
base_site34=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[مصر القديمة]&languages=ar-US"
base_site35=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[السيدة زينب ]&languages=ar-US"
base_site36=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الخليفة]&languages=ar-US"
base_site37=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[المقطم,منشأة ناصر]&languages=ar-US"
base_site38=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الدرب الاحمر,الموسكى]&languages=ar-US"
base_site39=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[عابدين]&languages=ar-US"
base_site40=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[قصر النيل]&languages=ar-US"
base_site41=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الزمالك]&languages=ar-US"

In [286]:
base_site1=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[بولاق]&languages=ar-US"
base_site2=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الازبكية]&languages=ar-US"
base_site3=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[باب الشعرية]&languages=ar-US"
base_site4=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الجمالية]&languages=ar-US"
base_site5=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الظاهر,الوايلى]&languages=ar-US"
base_site6=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[حدائق القبةا]&languages=ar-US"
base_site7=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[شبرا]&languages=ar-US"
base_site8=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الشرابية]&languages=ar-US"
base_site9=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[روض الفرج]&languages=ar-US"
base_site10=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الساحل]&languages=ar-US"
base_site11=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الزاوية الحمراء]&languages=ar-US"
base_site12=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الاميرية]&languages=ar-US"
base_site13=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الزيتون]&languages=ar-US"
base_site14=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[المطرية]&languages=ar-US"
base_site15=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[عين شمس]&languages=ar-US"
base_site16=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[المرج]&languages=ar-US"
base_site17=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[أول السلام]&languages=ar-US"
base_site18=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[ثان السلام ]&languages=ar-US"
base_site19=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[النزهة]&languages=ar-US"
base_site20=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[أول مدينة نصر]&languages=ar-US"
base_site21=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[ثان مدينة نصر]&languages=ar-US"

In [290]:
text1=requests.get(url=base_site1)
text2=requests.get(url=base_site2)
text3=requests.get(url=base_site3)
text4=requests.get(url=base_site4)
text5=requests.get(url=base_site5)
text6=requests.get(url=base_site6)
text7=requests.get(url=base_site7)
text8=requests.get(url=base_site8)
text9=requests.get(url=base_site9)
text10=requests.get(url=base_site10)
text11=requests.get(url=base_site11)
text12=requests.get(url=base_site12)
text13=requests.get(url=base_site13)
text14=requests.get(url=base_site14)
text15=requests.get(url=base_site15)
text16=requests.get(url=base_site16)
text17=requests.get(url=base_site17)
text18=requests.get(url=base_site18)
text19=requests.get(url=base_site19)
text20=requests.get(url=base_site20)
text21=requests.get(url=base_site21)
text22=requests.get(url=base_site22)
text23=requests.get(url=base_site23)
text24=requests.get(url=base_site24)
text25=requests.get(url=base_site25)
text26=requests.get(url=base_site26)
text27=requests.get(url=base_site27)
text28=requests.get(url=base_site28)
text29=requests.get(url=base_site29)
text30=requests.get(url=base_site30)
text31=requests.get(url=base_site31)
text32=requests.get(url=base_site32)
text33=requests.get(url=base_site33)
text34=requests.get(url=base_site34)
text35=requests.get(url=base_site35)
text36=requests.get(url=base_site36)
text37=requests.get(url=base_site37)
text38=requests.get(url=base_site38)
text39=requests.get(url=base_site39)
text40=requests.get(url=base_site40)

In [279]:
text1

In [280]:
#text.json()

In [285]:
# Use json_normalize() to convert JSON to DataFrame
dict1 = text.json()
df1 = json_normalize(dict['items']) 
df1['address.label']
#df1.count()

0    قسم مدينة نصر ثان, شارع محمود طه, القاهرة, الق...
1                            مدينة نصر 2, القاهرة, مصر
2    قسم الشرطة ثانى مدينة نصر, شارع علي امين, القا...
3         مدينة نصر, طريق النصر, القاهرة, القاهرة, مصر
4                            مدينة نصر 1, القاهرة, مصر
5    مدينة نصر, شارع عبد المنعم سند, القاهرة, القاه...
Name: address.label, dtype: object

In [291]:
dict1 = text1.json()
df1 = json_normalize(dict['items']) 

dict2 = text1.json()
df2 = json_normalize(dict['items']) 

dict3 = text1.json()
df3 = json_normalize(dict['items']) 
dict4 = text1.json()
df4 = json_normalize(dict['items']) 

dict5 = text1.json()
df5= json_normalize(dict['items']) 

dict6 = text1.json()
df6 = json_normalize(dict['items']) 

dict7 = text1.json()
df7 = json_normalize(dict['items']) 

dict8 = text1.json()
df8 = json_normalize(dict['items']) 

dict9 = text1.json()
df9 = json_normalize(dict['items']) 

dict10 = text1.json()
df10 = json_normalize(dict['items'])

In [292]:
dict11 = text1.json()
df11 = json_normalize(dict['items']) 

dict12 = text1.json()
df12 = json_normalize(dict['items']) 

dict13 = text1.json()
df13 = json_normalize(dict['items']) 
dict14 = text1.json()
df14 = json_normalize(dict['items']) 

dict15 = text1.json()
df15= json_normalize(dict['items']) 

dict16 = text1.json()
df16 = json_normalize(dict['items']) 

dict17 = text1.json()
df17 = json_normalize(dict['items']) 

dict18 = text1.json()
df18 = json_normalize(dict['items']) 

dict19 = text1.json()
df19 = json_normalize(dict['items']) 

dict20 = text1.json()
df20 = json_normalize(dict['items'])

In [293]:
dict21 = text1.json()
df21 = json_normalize(dict['items']) 

dict22 = text1.json()
df22 = json_normalize(dict['items']) 

dict23 = text1.json()
df23 = json_normalize(dict['items']) 
dict24 = text1.json()
df24 = json_normalize(dict['items']) 

dict25 = text1.json()
df25= json_normalize(dict['items']) 

dict26 = text1.json()
df26 = json_normalize(dict['items']) 

dict27 = text1.json()
df27 = json_normalize(dict['items']) 

dict28 = text1.json()
df28 = json_normalize(dict['items']) 

dict29 = text1.json()
df29 = json_normalize(dict['items']) 

dict30 = text1.json()
df30 = json_normalize(dict['items'])

In [315]:
dict31 = text1.json()
df31 = json_normalize(dict['items']) 

dict32 = text1.json()
df32 = json_normalize(dict['items']) 

dict33 = text1.json()
df33 = json_normalize(dict['items']) 
dict34 = text1.json()
df34 = json_normalize(dict['items']) 

dict35 = text1.json()
df35= json_normalize(dict['items']) 

dict36 = text1.json()
df36 = json_normalize(dict['items']) 

dict37 = text1.json()
df37 = json_normalize(dict['items']) 

dict38 = text1.json()
df38 = json_normalize(dict['items']) 

dict39 = text1.json()
df39 = json_normalize(dict['items']) 

dict40 = text1.json()
df40 = json_normalize(dict['items']) 

df40.head()

,title,id,language,resultType,access,distance,categories,references,contacts,address.label,...,address.city,address.district,address.street,position.lat,position.lng,localityType,mapView.west,mapView.south,mapView.east,mapView.north
0,قسم مدينة نصر ثان,here:pds:place:818jx7ps-487e0834f25a035fa5df6a...,ar,place,"[{'lat': 30.07705, 'lng': 31.23685}]",3657,"[{'id': '800-8100-0171', 'name': 'مقر حكومي', ...","[{'supplier': {'id': 'core'}, 'id': '111076939...",[{'phone': [{'value': '+20222619756'}]}],"قسم مدينة نصر ثان, شارع محمود طه, القاهرة, الق...",...,القاهرة,روض الفرج,شارع محمود طه,30.07713,31.23692,NaN,NaN,NaN,NaN,NaN
1,"مدينة نصر 2, القاهرة, مصر",here:cm:namedplace:23893249,ar,locality,NaN,7065,NaN,NaN,NaN,"مدينة نصر 2, القاهرة, مصر",...,القاهرة,مدينة نصر 2,NaN,30.05621,31.30735,district,31.28020,30.01990,31.35731,30.07791
2,قسم الشرطة ثانى مدينة نصر,here:pds:place:818jx7ps-f40882fd1ef60dcc5742fe...,ar,place,"[{'lat': 30.05053, 'lng': 31.31248}]",7466,"[{'id': '700-7300-0111', 'name': 'قسم الشرطة',...","[{'supplier': {'id': 'core'}, 'id': '111057701...",NaN,"قسم الشرطة ثانى مدينة نصر, شارع علي امين, القا...",...,القاهرة,مدينة نصر 2,شارع علي امين,30.05053,31.31248,NaN,NaN,NaN,NaN,NaN
3,مدينة نصر,here:pds:place:818stq70-e03c97ec88174ec2b1b7bd...,ar,place,"[{'lat': 30.05894, 'lng': 31.30343}]",6752,"[{'id': '600-6500-0072', 'name': 'متجر أجهزة إ...","[{'supplier': {'id': 'core'}, 'id': '104931818...",NaN,"مدينة نصر, طريق النصر, القاهرة, القاهرة, مصر",...,القاهرة,مدينة نصر 2,طريق النصر,30.05923,31.30324,NaN,NaN,NaN,NaN,NaN
4,"مدينة نصر 1, القاهرة, مصر",here:cm:namedplace:23893250,ar,locality,NaN,10928,NaN,NaN,NaN,"مدينة نصر 1, القاهرة, مصر",...,القاهرة,مدينة نصر 1,NaN,30.06959,31.34496,district,31.30491,29.97717,31.43477,30.08670

In [295]:
data =df1.append([df2, df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df22, df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40])

In [299]:
data.head(1)

,title,id,language,resultType,access,distance,categories,references,contacts,address.label,...,address.city,address.district,address.street,position.lat,position.lng,localityType,mapView.west,mapView.south,mapView.east,mapView.north
0,قسم مدينة نصر ثان,here:pds:place:818jx7ps-487e0834f25a035fa5df6a...,ar,place,"[{'lat': 30.07705, 'lng': 31.23685}]",3657,"[{'id': '800-8100-0171', 'name': 'مقر حكومي', ...","[{'supplier': {'id': 'core'}, 'id': '111076939...",[{'phone': [{'value': '+20222619756'}]}],"قسم مدينة نصر ثان, شارع محمود طه, القاهرة, الق...",...,القاهرة,روض الفرج,شارع محمود طه,30.07713,31.23692,NaN,NaN,NaN,NaN,NaN

In [297]:
data.head()
data.columns

Index(['title', 'id', 'language', 'resultType', 'access', 'distance',
       'categories', 'references', 'contacts', 'address.label',
       'address.countryCode', 'address.countryName', 'address.county',
       'address.city', 'address.district', 'address.street', 'position.lat',
       'position.lng', 'localityType', 'mapView.west', 'mapView.south',
       'mapView.east', 'mapView.north'],
      dtype='object')

In [311]:
data=data[['address.label','address.city']]
data.head()

                                       address.label address.city
0  قسم مدينة نصر ثان, شارع محمود طه, القاهرة, الق...      القاهرة
1                          مدينة نصر 2, القاهرة, مصر      القاهرة
2  قسم الشرطة ثانى مدينة نصر, شارع علي امين, القا...      القاهرة
3       مدينة نصر, طريق النصر, القاهرة, القاهرة, مصر      القاهرة
4                          مدينة نصر 1, القاهرة, مصر      القاهرة

In [302]:
data.shape

(234, 2)

In [312]:
data.to_csv(r'C:\Users\sawsan\Desktop\data.csv', index=False)

In [305]:
data['address.city'].unique()

array(['القاهرة'], dtype=object)

In [308]:
#base=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[الساحل]&languages=ar-US"
base="https://places.ls.hereapi.com/places/v1/autosuggest?at=30.04,-31.2&q=alex&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
#position_alex': [30.04427, 31.23525

In [309]:
texta=requests.get(url=base)

In [310]:
texta

In [ ]:
texta.json()