<a href="https://colab.research.google.com/github/sawsanzaky/Cairo_Cairo-governorate_NLP_TASK/blob/main/NLP_CAIRO_INTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use API to Generate Dataset**

In [2]:
#https://places.ls.hereapi.com/places/v1/autosuggest?at=40.74917,-73.98529&q=chrysler&apiKey={jRw8lhwtK83e5cT7LsFO-IBX8iCOEfls4SakC0A7d-w }

In [1]:
import requests

In [32]:
import requests
from requests.structures import CaseInsensitiveDict

url = "https://api.geoapify.com/v2/place-details?id=id%3D514d368a517c511e40594bfd7b574ec84740f00103f90135335d1c00000000920313416e61746f6d697363686573204d757365756d&apiKey=4f3754ed58b64d79bff7691d3cef37f8"

headers = CaseInsensitiveDict()
headers["Accept"] = "application/json"

resp = requests.get(url, headers=headers)

print(resp.status_code)

400

In [184]:
#base_site="https://places.ls.hereapi.com/places/v1/autosuggest?at=30.04,-31.2&q=cairo&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
#position': [30.04427, 31.23525]
#base_site="https://places.ls.hereapi.com/places/v1/discover/explore?at=48.858%2C2.2945&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
#base_site ="https://geocoder.ls.hereapi.com/search/6.2/geocode.json?languages=en-US&maxresults=4&searchtext=Sunnyvale&apiKey={jRw8lhwtK83e5cT7LsFO-IBX8iCOEfls4SakC0A7d-w}'
#base_site="https://places.ls.hereapi.com/places/v1/autosuggest?at=30.04,-31.2&q=المعز&languages=ar-US&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
#base_site= "https://revgeocode.search.hereapi.com/v1/revgeocode?at=30.04,-31.2&q=cairo&apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM"
base_site=" https://discover.search.hereapi.com/v1/discover?apiKey=YdwX1rPlKcS4pifCTqpFBYpf1a2ADcdXTSmmmHiQ2aM&at=30.04427,31.23525&q=[القطامية,المقطم]&languages=en-US"

In [185]:
text=requests.get(url=base_site)

In [186]:
text

In [187]:

#text.json().keys()
#text.json()

import pandas as pd
import json
from pandas import json_normalize

In [188]:

# Use json_normalize() to convert JSON to DataFrame
dict = text.json()
df2 = json_normalize(dict['items']) 
df2.head(1)

,title,id,language,resultType,access,distance,categories,references,address.label,address.countryCode,...,address.city,address.district,address.street,position.lat,position.lng,contacts,mapView.west,mapView.south,mapView.east,mapView.north
0,المقطم,here:pds:place:818stq4z-6be345e1740642e4b76a60...,ar,place,"[{'lat': 30.04627, 'lng': 31.24863}]",1294,"[{'id': '600-6600-0078', 'name': 'متجر متخصِّص...","[{'supplier': {'id': 'core'}, 'id': '104935243...","المقطم, شارع سيد البيلاوي, القاهرة, القاهرة, مصر",EGY,...,القاهرة,عابدين,شارع سيد البيلاوي,30.04632,31.24848,NaN,NaN,NaN,NaN,NaN

**Create Dataset for " address is in Cairo governorate and Not "**

In [31]:
import numpy as np
import pandas as pd 

cities= pd.read_fwf("/Cairo.txt",names=["Address"])
#cities

In [35]:
cities_cairo = cities['Address'].tolist()
cities_alex 	=["المنتزه","سموحة","العامرية" ," العامرية"]
cities_monf =["السادات", "منوف" ,"شبين","قويسنا"]
cities_giza =["اكتوبر","هرم",'امبابه']
cities_aswan =["إدفو","نصر النوبة","كوم أمبو","دراو"]
cities_sina =["شرم","دهب"]

In [34]:
str(np.random.randint(100))+' '+np.random.choice(cities_cairo)

'59 حلوان'

In [36]:
street = [ " سيد البدوي ", " حسين الدسوقي" ," احمد زكي"]
street1=["شارع " , " طريق " ]
c=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_cairo)+ str(np.random.randint(100)) for i in range(1000)]
a=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_alex)+ str(np.random.randint(100)) for i in range(1000)]
m=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_monf)+ str(np.random.randint(100)) for i in range(1000)]
g=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_giza)+ str(np.random.randint(100)) for i in range(1000)]
asw=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_aswan)+ str(np.random.randint(100)) for i in range(1000)]
s=c=[np.random.choice(street1)+np.random.choice(street)+ " " +np.random.choice(cities_sina)+ str(np.random.randint(100)) for i in range(1000)]

In [134]:
#labels= np.zeros(shape=(1000,))

In [37]:
labels1= ['القاهرة']*1000
labels2= ['الاسكندرية']*1000
labels3= ['المنوفية']*1000
labels4= ['الجيزة']*1000
labels5= ['اسوان']*1000
labels6= ['سيناء']*1000

In [41]:
cairo_data= np.vstack((c,labels1))
alex_data = np.vstack((a,labels2))
monf_data =np.vstack((m,labels3))
giza_data=np.vstack((g,labels4))
asw_data =np.vstack((asw,labels5))
sina_data =np.vstack((s,labels6))
cairo_data.T
alex_data.T
monf_data.T
giza_data.T
asw_data.T
sina_data.T
cairo_data_df = pd.DataFrame(cairo_data.T, columns=["Address","label1"])
alex_data_df = pd.DataFrame(alex_data.T, columns=["Address","label2"])
monf_data_df = pd.DataFrame(monf_data.T, columns=["Address","label3"])
giza_data_df = pd.DataFrame(giza_data.T, columns=["Address","label4"])
asw_data_df = pd.DataFrame(asw_data.T, columns=["Address","label5"])
sina_data_df = pd.DataFrame(sina_data.T, columns=["Address","label6"])
alex_data_df

                             Address      label2
0             شارع  احمد زكي سموحة34  الاسكندرية
1      طريق  حسين الدسوقي العامرية72  الاسكندرية
2         طريق  حسين الدسوقي سموحة44  الاسكندرية
3             شارع  احمد زكي سموحة28  الاسكندرية
4      شارع  سيد البدوي   العامرية53  الاسكندرية
..                               ...         ...
995     شارع  حسين الدسوقي المنتزه70  الاسكندرية
996   طريق  حسين الدسوقي  العامرية13  الاسكندرية
997       شارع  حسين الدسوقي سموحة24  الاسكندرية
998     شارع  حسين الدسوقي المنتزه57  الاسكندرية
999       شارع  حسين الدسوقي سموحة57  الاسكندرية

[1000 rows x 2 columns]

In [44]:
data =pd.concat([cairo_data_df, alex_data_df,monf_data_df,giza_data_df,asw_data_df,sina_data_df], ignore_index=True)
data.head()

                    Address   label1 label2 label3 label4 label5 label6
0   شارع  سيد البدوي  شرم36  القاهرة    NaN    NaN    NaN    NaN    NaN
1   طريق  سيد البدوي  شرم54  القاهرة    NaN    NaN    NaN    NaN    NaN
2      شارع  احمد زكي شرم72  القاهرة    NaN    NaN    NaN    NaN    NaN
3   طريق  سيد البدوي  دهب91  القاهرة    NaN    NaN    NaN    NaN    NaN
4   شارع  سيد البدوي  دهب20  القاهرة    NaN    NaN    NaN    NaN    NaN